.card-background {
  width: 285px;
  height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 7px 1px rgba(31, 31, 31, 0.2);
  background-color: #1d1f21;
  color: #fff;
  position: relative;
  cursor: grab;
  border-radius: 25px;
}

.circle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  border-top-right-radius: 25px;
}

.circle {
  position: absolute;
  width: 350px;
  height: 350px;
  top: -4.2em;
  right: -8em;
  z-index: 5;
  background-color: #fbbe01;
  border-radius: 50%; 
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}